.products-title{
  @include pxRem(margin, 20);
}

.product-item{
  @include pxRem (border-radius, 10);
  @include pxRem (margin-bottom, 20);
  border: 1px solid map-get($colors, border-gray);
  text-align: center;
  position: relative;
  img{
    @include pxRem (height, 300);
    width: 100%;
  }
  span{
    @include pxRem (right, 10);
    @include pxRem (top, 10);
    @include pxRem (font-size, 20);
    color: map-get($colors, white);
    position: absolute;
  }
  h5{
    @include pxRem (margin, 10 0);
  }
  button{
    @include pxRem(padding, 6 0);
    @include pxRem(margin-top, 10);
    @include pxRem(border-radius, 6);
    background-color: map-get($colors, black);
    color: map-get($colors, white);
    width: 100%;
    border: none;
    cursor: pointer;
  }
  .active{
      color: red;
    }
}
