.page-header {
  @include pxRem(padding, 10);
  background: map-get($colors, black);
  text-align: center;
  .nav-links-item{
    @include pxRem(font-size, 20);
    &:not(:first-child){
      @include pxRem(margin-left, 20);
    }
    a{
      color: white;
    }
    img{
      @include pxRem(width, 50);
      @include pxRem(height, 50)
    }
  }
}
